node_modules
dist
.env
.env.local
*.log
.DS_Store
work/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
ed03ed98-b6af-4bd4-993a-e144999a45e8.jpg
Фото_2.jpg
Фото_3.jpg
/ArTar_TumanianDzeragir_U.ttf
/trek_*.mp3
Песня.mp3
